<div class="container">
  <h1 class="big-title">All the lists are here</h1>
  <ul class="list-group">
  <% @lists.each do |list| %>
  <li class="button"><%=list.name%></li>
    <% end %>

  </ul>
</div>
