
<div class="container">
  <h1 class="big-title">Create you list here!</h3>
  <div class="form-wrapper" id="booking-form-div">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name, required: false, placeholder: "groceries" %>
      <%= f.submit 'Create'%>
    <% end %>
  </div>
</div>
