// Specific CSS for your home-page
.big-title {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
ul {
    list-style-type: none;
}
.nav-item {
  display: flex;
}

.nav-item-list-index {
  display: flex;
  padding-top: 140px;
}
