// Specific CSS for your home-page
.title-home {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
ul {
    list-style-type: none;
}

.input, .button {
    border: 1px solid #f9f7f7ed !important;
    margin-bottom: 80px;
}
.nav-item {
  display: flex;
}
