// .owner-avatr-list-title {
//   margin-top: 10px;
// }

.my-item-title {
  align-items: center;
  text-align: center;
  padding: 5px 0px 10px 0px;
}

.basket-item-title {
  align-items: center;
  text-align: center;
  padding: 05px 0px 0px 0px;
}

.item-quant {
  justify-content: center;
  padding: 0px 20px;
  margin-bottom: 20px;
  // display: flex;
}

.one-item{
  padding: 5px 0px;
  justify-content: space-between;
}

.text-item-trash {
  justify-content: space-between;
  width: 280px;
  padding: 0px 0px;
  padding-right: 20px;
}

.text-item {
  justify-content: space-between;
  width: 300px;
  padding: 0px 20px;
}

.asdone-items {
  background-color: grey;
  // justify-content: center;
  // padding: 0px 20px;
}

.one-item-done {
  justify-content: space-between;
  padding: 5px 0px;
}

mark {
  text-align: center;
  background: linear-gradient(to right, #ff1493de 50%, transparent);
  width:324px;
  height: 28px;
  transform: skewX(-10deg);
  .text-item{
    transform: skewX(10deg);
  }
}
