.sign-up-btn {
  border-radius: 50%;
}

.button {
  padding-top: 6px;
  width: 100%;
  height: 38px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid #f9f7f7ed !important;
    margin-bottom: 80px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #565454;
  span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: semibold;
  }

    &:hover {
      opacity: 0.3;
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      color: #407961;
    }
  }
  // &:nth-child(2) {
  //   opacity: 0.3;
  //   box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  //     6px 6px 10px rgba(0, 0, 0, 0.2);
  //   color: #6f6cde;
  // }
  // &:nth-child(3) {
  //   box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
  //     inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  //   color: #79e3b6;
  //   &:hover {
  //     opacity: 1;
  //     box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  //       6px 6px 10px rgba(0, 0, 0, 0.2);
  //   }
  // }
.button-list-owner {
    padding-top: 6px;
  width: 100%;
  height: 38px;
  background: #f3f0f1;
  position: relative;
  background: #3f14ff3a;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid #4114FF!important;
    margin-bottom: 80px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #565454;
  span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: semibold;
  }

    &:hover {
      opacity: 0.3;
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      color: #407961;
    }
  }


.button-small {
  padding-top: 6px;
  width: 50%;
  height: 38px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid #f9f7f7ed !important;
    margin-bottom: 30px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #565454 !important;
  span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: semibold;
  }

  &:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  &:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #407961;
  }
}

.button-add-item{
  height: 40px;
  width: 40px;

  padding-bottom: 5px;
  // padding: 5px 2px 5px 5px;
  text-align: center;
  justify-content: center;
  padding: 0px 0px 10px 0px!important;
  display:block;
  border-radius: 50%;

  font-weight: bolder;
  font-size: 26px;
  margin-left: 20px;
  // height: 38px;
  background: #f3f0f1;
  position: relative;


  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid #f9f7f7ed !important;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #565454 !important;
}

.button-delete {
  width: 20px;
  height: 20px;
  right: 18px;
  top: 13px;
  color: rgb(248, 204, 204);
  font-size: 16px;
  &:hover {
    font-size: larger;
    color: red;
    transition: 0.4s ease;
  }
}

.button-caddie {
  width: 20px;
  height: 20px;
  right: 18px;
  top: 13px;
  color: rgb(125, 165, 125);
  font-size: 16px;
  &:hover {
    font-size: larger;
    color: green;
    transition: 0.4s ease;
  }
}

.button-back-item {
  width: 20px;
  height: 20px;
  right: 18px;
  top: 13px;
  color: rgb(218, 182, 115);
  font-size: 16px;
  &:hover {
    font-size: larger;
    color: rgb(145, 93, 14);
    transition: 0.4s ease;
  }
}


.button-interactive {
  font-size: 1rem !important;
	display: inline-block;
  height: fit-content;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: rgb(82, 145, 85);
  background-color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
    border: 1px solid rgb(82, 145, 85);
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: rgb(82, 145, 85);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

.button-add-invites {
  background-color: #170c53;
  opacity: 0,8;
  font-size: 20px;
  font-weight: bolder;
  display: block;
  height: 45px;
  width: 45px;
  padding: 9px 6px 10px 13px;
  /* text-align: center; */
  justify-content: center;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 2px 3px #9da3a7;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  .text-hover {
      display: none;
    }
  &:hover {
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    font-size: 30px;
    padding: 4px 6px 10px 8px;
    text-decoration: none;
    box-shadow: 0px 2px 8px rgb(23, 12, 83);
      .text-hover {
        display: block;
      }
  }
}
