// new - registration

.medium-title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
// .form-control {
//   border-radius: 10px !important;
// }
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #295b57;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #527473ba;
}
.input-form {
  border-radius: 50% !important;
}
#file-upload-button {
  border-radius: 10px !important;
}

.input, .button {
  border: 1px solid red !important;
}

.form-control  {
  padding-top: 6px;
  width: 100%;
  height: 38px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid #f9f7f7ed !important;
  span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: semibold;
  }
  &:nth-child(1) {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;

    &:hover {
      opacity: 0.3;
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      color: #407961;
    }
  }
}

.form-group {
    margin-bottom: 4rem;
}

label {
  display: inline-block;
  margin-left: 13px;
  padding-bottom: 15px;
}

.form-check {
    margin-left: 11px;
}
.form-check-input {
  width: 20px;
  height: 20px;
}

.form-check-label {
  padding-top: 4px;
}

a {
  text-decoration: none;
  color: #565454 !important;
}

.btn {
//   transform: translateY(-5px);
  font-size: 20px;
  color: #565454 !important;
  padding: -0.625rem 0.75rem !important;
}
.dropdown-menu.show {
    display: block;
    border-radius: 5px;
    border: 1px solid #d0cccc24;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.add-item-bar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 20px;
}

.new-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}
